:root{
  --contour-elements: #7f7f7f;
  --contour-container: #525E7A;
  --background-editorfield: #17181A;
  --background-toolbox-scenario: #191919;
  --background-toolbox-contourbar: #1b1d20;
  --selected-block: #454F58;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: start;
  background-color: black;
  color: var(--contour-elements);
}