:root{
  --yellow-text: #f1f952;
  --contour-elements: #898989;
  --contour-container: #525E7A;
  --background-editorfield: #17181A;
  --background-toolbox-scenario: #191919;
  --background-toolbox-contourbar: #1b1d20;
  --selected-block: #454F58;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}


html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: var(--contour-elements);
}